.similar-wrap{
    padding: 29px 37px;
    .backward-image{
        display: block;
        width: 24px;
        height: 24px;
        margin-bottom: 20px;
    }
    .similar-loading{
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h3{
            font-size: 16px;
            font-weight: 700;
            color: #000000;
            margin-bottom: 10px;
        }
    }
    .content-wrap{
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: flex-start;
        align-items: center;
        overflow: hidden;
        width: 100%;
        height: 100%;
        overflow-y: auto;
        margin-bottom: 42px;
        -ms-overflow-style:none; /* IE and Edge */
        scrollbar-width:none;
        .similar-text{
            font-size: 16px;
            color: #93988f;
            font-weight: 700;
            margin-bottom: 30px;
        }
        .memberNickname{
            font-size: 26px;
            color: #000000;
            font-weight: 700;
            margin-bottom: 3px;
        }
        .content{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 268px;
            height: 247px;
            //background-color: #eaeaea; //기존 색
            background-color: rgb(242, 246, 250);
            border-radius: 16px;
            margin-bottom: 10px;
            flex-shrink: 0;
            position: relative;
            
            .content-image{
                height: 150px;
                max-height: 150px;
                border-radius: 16px 16px 0 0;
            }
            .content-title-wrap{
                padding:10px 15px;
                height:100%;
            }
            h1{
                font-size: 14px;
                font-weight: 700;
                color: #000000;
                margin-bottom: 10px;
            }
            .category{
                font-size: 11px;
                font-weight: 400;
                color: #8d8d8d;
                position: absolute;
                left: 15px;
                bottom: 15px;
            }
            .time{
                font-size: 11px;
                font-weight: 400;
                color: #8d8d8d;
                position: absolute;
                right: 15px;
                bottom: 15px;
            }
        }
    }
}